.home .text1{
    font-family: 'Baloo Thambi 2', cursive;
}
.home .text2{
    font-family: 'Zilla Slab', serif;
}
.home .text3{
    font-family: 'Baloo Thambi 2', cursive;
}
.home .genbtn{
    font-family: 'Baloo Thambi 2', cursive;
}

/* Home section CSS */
section.hm{
    display: block;
    /* width: 100vw; */
    height: 100vh;
}
.home{
position: absolute;
top: 0%;
display: flex;
width: 100vw;
height: 100vh;
justify-content: center;
align-items: center;
color: var(--text);
background-color: var(--surface-35);
}

.home .maxwidth{
margin: auto 0 auto 40px;

}
.home .maxwidth .homecontent{
z-index: 1;
}
.home .maxwidth .homecontent .text1{
font-size: 27px;
}
.home .maxwidth .homecontent .text2{
font-size: 75px;
font-weight: 700;
text-shadow: 5px 5px 10px var(--accent);

}
.home .maxwidth .homecontent .text3{
font-size: 40px;
}
.home .maxwidth .homecontent .text3 span{
color: var(--accent);
padding-bottom: 20px;
}
.home .maxwidth .homecontent .genbtn{
margin-top: 10px;


}

/* Utiliy Classes */
.genbtn a{
    display: block;
    width: fit-content;
    color: var(--accent-contrast);
    text-decoration: none;
    font-size: 25px;
    padding: 12px 36px;
    background-color: var(--accent);
    border: 2px solid var(--accent);
    box-shadow: 0 0 46px var(--accent);
    transition: all 0.3s linear;

}
  .genbtn a:hover{
    color: var(--accent);
    background-color: transparent;
    border: 2px solid var(--accent);
    box-shadow: 0 0 30px var(--accent);
    cursor: pointer;

}