
/* skills Section CSS */
.skills{
    
    padding-top: 10px;
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.534);
}
.skills h1{
    position: relative;
    padding-top: 20px;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 5px;
    color: white;
}
.skills h1::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 130px;
    height: 2px;
    background: #ca9720;
    transform: translateX(-50%);
    

}
.skills h1::after{
    content: "what i know";
    font-size: 15px;
    color: #ca9720;
    position: absolute;
    bottom: -7px;
    left: 50%;
    background: rgba(0, 0, 0, 0.555);
    transform: translateX(-50%);
 
}

.row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90vw;
    flex-wrap: wrap;
    gap: 2vw 2vw;
    margin: auto;
}

/* Card  */

.card {
  width: 300px;
  height: 300px;
  perspective: 500px;
  border: 4px solid #ca9720;
  border-radius: 2vw;
  border-left: none;
  border-right: none;
  overflow: hidden;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  transition: transform 1s;
  transform-style: preserve-3d;
  background: url('../Logos/card_bg.jpg');
  background-size: cover;
}

.card:hover .content {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  backface-visibility: hidden;
  background: rgba(0, 0, 0, 0.575);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.front .name, .back .name{
  position: absolute;
  bottom: 0;
  background-color: black;
  border-top: 2px solid#ca9720;
  font-size: 20px;
  color: #ca9720;
  width: 100%;
  text-align: center;
  padding: 5px;

}
.front img, .back img{
  height: 40%;
  /* width: 75%; */

}
 .back img{

  z-index: -1;
}
.back {
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.89),rgba(0, 0, 0, 0.87),rgba(0, 0, 0, 0.83),rgba(0, 0, 0, 0.8));
  color: white;
  transform: rotateY( 180deg );
 
}